* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: @font-family-base;
}

body {
  background-color: #colors[body-bg];
}

li {
  list-style: none;
}

.container {
  max-width: @container-max-width;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: #spacing[section-padding-y] 0;
}

section h2 {
  margin-bottom: 16px;
}
