// Mapas utilizando detached rulesets (maps)

#colors() {
  header-bg: @color-header-bg;
  body-bg: @color-body-bg;
  text-light: @color-text-light;
  product-btn-bg: @color-product-btn-bg;
  product-btn-bg-hover: @color-product-btn-bg-hover;
}

#spacing() {
  header-padding-y: @header-padding-y;
  section-padding-y: @section-padding-y;
  product-button-padding-y: 8px;
  product-item-margin-bottom-mobile: 32px;
}
