DJANGO_SECRET_KEY=troque-por-uma-chave-segura
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=seuusuario.pythonanywhere.com
CSRF_TRUSTED_ORIGINS=https://seuusuario.pythonanywhere.com
POSTGRES_HOST=
POSTGRES_DB=twitterclone
POSTGRES_USER=twitterclone
POSTGRES_PASSWORD=troque-a-senha
POSTGRES_PORT=5432
